<div class="background-shapes top-shapes">
  <div></div><div></div><div></div><div></div><div></div>
</div>

<div class="wrap">
  <h1 id="log">Login</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="etichete">Nume de Utilizator</label>
    <input type="text" formControlName="username" placeholder="Introdu username-ul"/>

    <label class="etichete">Parola</label>
    <input type="password" formControlName="password" placeholder="Introdu parola"/>

    <button type="submit" [disabled]="loading()">Login</button>

    <div class="error" *ngIf="error()">{{ error() }}</div>
  </form>

  <a routerLink="/register">Nu ai cont? Register</a>
</div>

<div class="background-shapes bottom-shapes">
  <div></div><div></div><div></div><div></div><div></div>
</div>
