<!-- <div class="wrap">
  <h1>Dashboard</h1>

  <div class="ribbon">
    <button class="ribbon-btn" (click)="goToQuiz()">🎯 Take Quiz</button>
  </div>

  <div class="actions">
    <button (click)="goToQuiz()">🎯 Începe un Quiz</button>
    <button (click)="logout()">🚪 Logout</button>
  </div>
</div> -->

<div class="wrap">
  <h1>Dashboard</h1>

  <!-- Dacă e student -->
  <div *ngIf="isStudent()">
    <div class="ribbon">
      <button class="ribbon-btn" (click)="goToQuiz()">🎯 Take Quiz</button>
    </div>

    <p>Bun venit, {{loggeninUser?.username}} ({{loggeninUser?.role}})</p>
    <button (click)="logout()">Logout</button>
  </div>
</div>
