<div class="about-wrap">
  <h1>Despre aplicație</h1>
  <p>
    Această aplicație interactivă de quiz-uri îți permite să explorezi diverse domenii, 
    să înveți lucruri noi și să te distrezi în același timp.
  </p>

  <p>
    Poți începe un quiz, verifica răspunsurile și trece la următoarea întrebare. 
    Scopul este să îți testezi cunoștințele și să te îmbunătățești continuu!
  </p>

   <p>
    Dacă nu știi răspunsul la o întrebare, aplicația folosește un AI pentru a-ți oferi
    informații suplimentare și ajutor contextual, astfel încât să înveți rapid și eficient.
  </p>

  <button (click)="goHome()">🏠 Înapoi la Home</button>
</div>
