<div class="wrap">
  <h1 id="log">Register</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="etichete" for="username">Username</label>
    <input
      id="username"
      type="text"
      formControlName="username"
      placeholder="Introdu username-ul"
    />

    <label class="etichete" for="password">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Introdu parola"
    />

    <label class="etichete" for="role">Role</label>
    <select id="role" formControlName="role">
      <!-- <option value="ADMIN">ADMIN</option> -->
      <option value="STUDENT">STUDENT</option>
      <option value="PROFESOR">PROFESOR</option>
    </select>

    <button type="submit" [disabled]="loading()">
      {{ loading() ? 'Se încarcă...' : 'Creează cont' }}
    </button>

    <div class="error" *ngIf="error()">{{ error() }}</div>
  </form>

  <a routerLink="/login">Ai cont? Login</a>
</div>
